.box {
  min-height: 100;
  width: 50;
  margin: auto;
}

.box2 {
   min-height: 100;
  width: 50p;
  margin: auto;
}

box3 {
  min-height: 100;
  width: 50p%;
  margin: auto;
}

.dark_blue {
  color: #035959;
}

.light_blue {
  color: #0B8D80;
}

.grey {
  color: #212629;
}

.brown {
  color: #210202;
}

.green {
  color: #005921;
}
