html {
  display: block;
}

body {
  width: 90%;
  height: 90%;
  background-color: #636161;
}

body {
  display: block;
  margin: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  margin-left: 8px;
}


.dark_blue {
  background-color: #035959;
}

.light_blue {
  background-color: #0B8D80;
}

.grey {
  background-color: #212629;
}

.brown {
  background-color: #210202;
}

.green {
  background-color: #005921;
}
