html {
  display: block;
}

body {
  width: 90%;
  height: 90%;
  background-color: #FFFFFF;
}

body {
  display: block;
  margin: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 8px;
  margin-left: 8px;
}

.oneblock {
 background-color: #035959; 
 width: 50%;
 min-height: 30%;
 display: inline-block;
 font-family: Yellowtail, Impact;
 font-size: 30px;
 color:white;
}

.twoblock {
 background-color: #0B8D80; 
 width: 30%;
 min-height: 30%;
 display: inline-block;
 font-family: Roboto Slab, Impact;
 font-size: 30px;
 color:white;
}

.threeblock {
 background-color: #212629; 
 width: 18.8%;
 min-height: 30%;
 display: inline-block;
 font-family: Vidaloka, Impact;
 font-size: 30px;
 color:white;
}

.fourblock {
 background-color: #210202; 
 width: 50%;
 height: 70%;
 display: inline-block;
 font-family: Frank Ruhl Libre, Impact;
 font-size: 30px;
 color: white;
}

.fiveblock {
 background-color: #005921; 
 width: 49%;
 height: 70%;
 display: inline-block;
 font-family: Julius Sans One, Impact;
 font-size: 30px;
 color: white;
}


p {
 padding-top: 80px;
    color: white;
}

.bottom {
  padding-top: 250px;
}

div {
  float: left;
}

img {
  align: center;
}

@media only screen and (min-width : 1224px) {
  div {
    display: table;
  }
}
